<% provide(:title, 'Contact Us') %>
<div class="center hero-unit">
  <h1>StaticPages#contact_us</h1>
    <p>sales@exercise-time.com</p>
    <p>Find me in app/views/static_pages/contact_us.html.erb</p>
