<% provide(:title, 'Home') %>
  <h1>GoTime</h1>

<%= image_tag("GoTime_product_image.jpg", height:'100', alt:"Can't find image supplied by FreeDigitalPhotos.net")%>

  <div class="row-fluid">
    <div class="span4">
      <h2>Easy to Use</h2>
        <p>Smack the GoTime logo and that's it!  In about one minute from the smack you will feel the GoTime 
        vibrate to motivate you into your next set.  We call this the 'set it and forget it' method to timed intervals.</p>
    </div>

    <div class="span4">
      <h2>Fun</h2>
        <p>Who wants to stop working out to fiddle with delicate touch screens or small buttons?  
        With GoTime you get to smash your timer between every set!  That's a lot more fun than staring at a clock.</p>
    </div>

    <div class="span4">   
      <h2>Durable</h2>
        <p>We use only the highest grade electronics available to us to ensure your GoTime can withstand the punishment 
        of a hardcore training session and more.</p>
    </div>
  </div>
    

