<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>GoTime</h1>

<%= image_tag("GoTime_temp_logo.jpg", height:'100', alt:"Can't find image supplied by FreeDigitalPhotos.net")%>

  <h2>Fun</h2>
    <p>Who wants to stop working out to fiddle with delicate touch screens or small buttons?  
    With GoTime you get to smash your timer between every set!  That's a lot more fun than staring at a clock.</p>

  <h2>Durable</h2>
    <p>We use only the highest grade electronics available to us to ensure your GoTime can withstand the punishment 
    of a hardcore training session and more.</p>
    
<p>Find me in app/views/static_pages/home.html.erb</p>

