<% provide(:title, 'Home') %>
  <h1>GoTime</h1>
    <p>Find me in app/views/static_pages/home.html.erb</p>

  <h2>Fun</h2>
    <p>Who wants to stop working out to fiddle with delicate touch screens or small buttons?  
    With GoTime you get to smash your timer between every set!  That's a lot more fun than staring at a clock.</p>

  <h2>Durable</h2>
    <p>We use only the highest grade electronics available to us to ensure your GoTime can withstand the punishment 
    of a hardcore training session and more.</p>

