<% provide(:title, 'The Science') %>
<h2 class="text-left">GoTime The Science</h2>

<div class="row">
  <div class="col-md-6">
    <h5 class="text-left">Weight Loss with GoTime: </h5>

    <p class="text-left">
    Studies performed by scientists at Canada's McMaster University, adds to the growing evidence for the benefits of short
    term high-intensity interval training (HIT) as a time-efficient but safe alternative to traditional types of 
    moderate long term exercise.  Astonishingly, it is possible to get more by doing less!
    </p>

    <p class="text-left">
    "We have shown that interval training does not have to be 'all out' in order to be effective," says Professor 
    Martin Gibala. "Doing 10 one-minute sprints on a standard stationary bike with about one minute of rest in between, 
    three times a week, works as well in improving muscle as many hours of conventional long-term biking less strenuously."
    </p>
  </div>
  <div class="col-md-6">
    <h5 class="text-left">Muscle Gain With GoTime: </h5>

    <p class="text-left">
    To lose weight and gain muscle the optimal rest period is between 1 to 2 minute.  This is known as Hypertrophy Training.
    Typical Hypertrophy training draws energy from the ATP-PC glycolytic system and anabolic hormones your body produces
    after weight training. Short rest periods of between 1 and 2 minutes cause a greater release of these hormones than 
    longer rest periods (Kramer et al 1991).
    </p>
    
    <p class="text-left">
    GoTime utilizes this optimal rest period @ 1 minute.
    </p>
  </div>

</div>

<p class="lead">
Think about that... 10 minutes of HIT excercise 3 times a week is more effective than hours of traditional exercise!  GoTime utilizes this optimal rest period @ 1 minute.
</p>

<h5 class="text-left">Medical and University Studies</h5>
  <p class="text-left">
  Jonathan P Little, Adeel S Safdar, Geoffrey P Wilkin, Mark a Tamopolsky, and Martin J Gibala. A practical model of low-volume 
  high-intensity interval training induces mitochondrial biogenesis in human skeletal muscle: potential mechanisms.
  The Journal of Physiology, 2010; DOI: 10.1113/jphysial.2009.181743
  </p>

  <p class="text-left">
  Kraerner, W.J. Endocrine responses and adaptations to strength training. In: Strength and Power in Sports, P. Komi, ed. Oxford:
  Blackwell Scientific. 1992. pp. 291-304.
  </p>
  
  <p class="text-left">
  National Strenth and Conditioning Association, Essentials of Strength Training and conditioning.  Champaign, IL: Human
  Kinetics.  1994.
  </p>
