<% provide(:title, 'The Science') %>
  <h2>StaticPages#the_science</h2>

<p class="text-left">
Weight Loss GoTime:
The study, from scientists at Canada's McMaster University, adds to the growing evidence for the benefits of short term high-intensity interval training (HIT) as a time-efficient but safe alternative to traditional types of moderate long term exercise.  Astonishingly, it is possible to get more by doing less!

"We have shown that interval training does not have to be 'all out' in order to be effective," says Professor Martin Gibala.  "Doing 10 one-minute sprints on a standard stationary bike with about one minute of rest in between, three times a week, works as well in improving muscle as many hours of conventional long-term biking less strenuously."
</p>

<p class="lead">
Think about that... 10 minutes of HIT excercise 3 times a week is more effective than hours of traditional exercise!  GoTime utilizes this optimal rest period @ 1 minute.
</p>

    <p>Find me in app/views/static_pages/the_science.html.erb</p>

